@{
    ViewBag.Title = "About";
}
<div class="Banner">
    <img src="~/Images/aboutBanner.png" alt="About_Banner" />
</div>
<div class="Main">
    <div class="Welcome">
        <img src="" alt="lady" />
        <h1>WELCOME TO VESOZ</h1>
        <p></p>
        <br />
        <h3>WIN BEST ONLINE SHOP AT 2020</h3>
        <p></p>
    </div>
    <div class="VMG">
        <div>
            <h2>OUR VISION</h2>
        </div>
        <div>
            <h2>OUR MISSION</h2>
        </div>
        <div>
            <h2>OUR GOAL</h2>
        </div>
    </div>
</div>
