
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Banner">
  <img src="~/Images/productsBanner.png" alt="Products_Banner" />
</div>
<div class="container body-content">
    <div class="Flex">
        <div class="ProductGrid2">
            @foreach (var item in ViewBag.Products)
            {
            <div>
                <img src="@item.Image" alt="@item.Name" />
                <h4>@item.Name</h4>
                <img src="" alt="stars" />
                <p>$79.00</p>
            </div>
            }
            
        </div>
        <div class="Sidenav">
            <div>
                <label>
                    <strong>Search</strong>
                    <br />
                    <input type="search"
                           id="searchstore"
                           name="searchstore"
                           required
                           minlength="3"
                           maxlength="10"
                           placeholder="Search our store">
                </label>
                <input type="submit" value="Search" />
            </div>
            <div>
                <h3>Categories</h3>
                <p>Best Sellers</p>
                <p>New Arrivals</p>
                <p>Sale Items</p>
                <p>Top Sell</p>
            </div>
            <div>
                <h3>Vendors</h3>
                <input type="checkbox">Vendor 1</input>
                <br />
                <input type="checkbox">Vendor 10</input>
                <br />
                <input type="checkbox">Vendor 11</input>
                <br />
                <input type="checkbox">Vendor 12</input>
                <br />
                <input type="checkbox">Vendor 2</input>
            </div>
            <div>
                <h3>Color</h3>
                <input type="checkbox">Red</input>
                <input type="checkbox">Green</input>
                <br />
                <input type="checkbox">Blue</input>
                <input type="checkbox">Yellow</input>
                <br />
                <input type="checkbox">White</input>
            </div>
            <div>
                <h3>Size</h3>
                <input type="checkbox">S</input>
                <input type="checkbox">M</input>
                <br />
                <input type="checkbox">L</input>
                <input type="checkbox">XL</input>
                <br />
                <input type="checkbox">Xxl</input>
            </div>
            <div>
                <h3>Tags</h3>
                <input type="checkbox">Black</input>
                <input type="checkbox">Blue</input>
                <br />
                <input type="checkbox">Fiber</input>
                <input type="checkbox">Gold</input>
                <br />
                <input type="checkbox">Gray</input>
            </div>
        </div>
    </div>
</div>