* {
    font-family: 'Poppins';
}

p {
    font-size: 20px;
}

.Border {
    background-color: #FF9899;
    width: 100%;
}

.SocialIcons {
    margin-top: 5px;
}
.SocialIcons2 {
    margin-left: 40%;
}

.Social {
    display: flex;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 100%;
    margin-left: 14%;
}
.Social2 {
    display: flex;
    margin-left: 14%;
    border-radius: 5px;
    color: black;
    width: 100%;
}

.Border img {
    width: 30px;
    margin-top: 10px;
}

.header-hr {
    margin-left: 14%;
    margin-right: 279px;
    border-color: gray;
    background-color: gray;
}


#debra {
    font-size: 50px;
    margin-left: 14%;
    color: white;
    margin-bottom: 5px;
}

.Search {
    display: flex;
    padding-bottom: 15px;
}


#searchbar {
    border-radius: 5px;
    width: 805px;
    height: 50px;
    margin-left: 150px;
    margin-top: 10px;
    background-color: #FFAEAE;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

#cart {
    height: 80px;
    width: 120px;
    margin-top: 18px;
    margin-left: 200px;
    border-radius: 5px;
    border-color: white;
}


.references  a {
    text-decoration: none;
    color: black;
    margin-left: 60px;
}


.references {
    font-size: 25px;
    text-align: center;
    padding-right: 4%;
    margin-top: 20px;
    font-weight: bold;
}
.FooterMain {
    display: flex;
    margin-left: 12%;
}
.FooterMain div {
    margin-left: 50px;
}
.Banner img {
    width: 100%;
}
.Main {
    margin-left: 15%;
    margin-right: 15%;
}
.Flex {
    display: flex;  
}
.Contact {
    margin-left: 20%;
}
.Welcome img {
    float: left;
}
.VMG {
    display: flex;
    justify-content: space-between;
}
.Sidenav {
    margin-left: 20%;
}

