@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>hello admin</p>

@foreach (var item in ViewBag.Products)
{
    <div class="alert alert-info">@item.Name</div>
}

<a href="/Home/Contact" class="btn btn-default">Contact</a>
@Html.ActionLink("Contact", "Contact", "Home", new { @class = "btn btn-default" })
<a href="@Url.Action("Contact", "Home", new { id = 10 })" class="btn btn-default">Contact</a>
