
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Banner">
    <img src="~/Images/blogdetailBanner.jpg" alt="BlogDetail_Banner" />
</div>
<div class="Main">
    <div class="Flex">
        @if (ViewBag.Blog != null)
        {
            <div class="blogdetail">
                <h3>@ViewBag.Blog.Name</h3>
                <h5>
                    Posted by: Debra Demo Admin  Posted on: 15 Jan,20
                </h5>
                <img src="/Images/@ViewBag.Blog.Image" alt="@ViewBag.Blog.Name" />
                <br />
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                    commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                    commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                </p>
                <div class="tags">
                    Tags:
                </div>
                <form class="commentform">

                    <label>
                        <strong>Comment</strong>
                        <br />
                        <textarea placeholder="Message"></textarea>
                    </label>
                    <br />
                    <label>
                        <strong>Name</strong>
                        <br />
                        <input type="text"
                               id="name"
                               name="name"
                               required
                               minlength="3"
                               maxlength="10"
                               placeholder="Full Name">
                    </label>
                    <label>
                        <strong>Email</strong>
                        <br />
                        <input type="email"
                               id="email"
                               name="email"
                               required
                               minlength="3"
                               maxlength="10"
                               placeholder="Email address">
                    </label>
                    <br />
                    <input class="button-table" type="submit" value="Post Comment" />
                </form>
            </div>
        }
        <div class="Sidenav">
            <div>
                <label>
                    <strong>Search</strong>
                    <br />
                    <input type="search"
                           id="searchstore"
                           name="searchstore"
                           required
                           minlength="3"
                           maxlength="10"
                           placeholder="Search our store">
                </label>
                <input type="submit" value="Search" />
            </div>
            <div>
                <h3>Custom Menu</h3>
                <p>Home</p>
                <p>Shop</p>
                <p>Products</p>
                <p>Blog</p>
                <p>About</p>
                <p>Contact</p>
            </div>
            <div>
                <h3>Recent Post</h3>
                <div class="miniblog">
                    <img src="~/Images/blog_01.jpg" alt="blog_01" />
                    <h5>Temporibus autem...</h5>
                    <p>Jan 15, 2020</p>
                </div>
                <div class="miniblog">
                    <img src="~/Images/blog_02.jpg" alt="blog_02" />
                    <h5>Temporibus autem...</h5>
                    <p>Jan 15, 2020</p>
                </div>
                <div class="miniblog">
                    <img src="~/Images/blog_03.jpg" alt="blog_03" />
                    <h5>Temporibus autem...</h5>
                    <p>Jan 15, 2020</p>
                </div>
            </div>
            <div>
                <h3>Archive</h3>
                <h2>January 2020</h2>
                <p>Temporibus Autem Quibusdam</p>
                <p>Temporibus Autem Quibusdam</p>
                <p>Temporibus Autem Quibusdam</p>
                <p>Temporibus Autem Quibusdam</p>
                <p>Temporibus Autem Quibusdam</p>
            </div>
            <div>
                <h3>Tags</h3>
                <p>Bestselling</p>
                <p>Collection</p>
                <p>Dress</p>
                <p>Fashion</p>
                <p>Men</p>
            </div>
        </div>
    </div>
</div>

